<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <form class="form-group" method="post" action="/file">
                  <label for="text"><h3>Text:</h3></label>
                  <textarea class="form-control" rows="5" name="text" id="text" placeholder="Type you text here and click Enter to save it"></textarea>
                  <br>
                  <input class="btn btn-info btn-lg pull-right" type="submit" value="Enter">
              </form>
          </div>
      </div>
  </div>

  </body>
</html>
